.bg-image {
    background-image: url("../img/search-form-bg.jpeg");
    /* position: relative; */
    /* overflow: hidden; */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
}

#form_toggler {
    cursor: pointer;
}