{% extends "base_generic.html" %}

{% block static %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/all_photos.css' %}">
{% endblock %}

{% block title %}全部照片{% endblock %}

{% block content %}
<!-- Wrapper -->
<div class="wrapper">

    <!-- Sidebar -->
    <div class="flex-shrink-0 p-3 bg-white" id="sidebar">
        <!-- close sidebar menu -->
        <div
            class="d-flex align-items-center justify-content-between pb-3 mb-3 link-dark text-decoration-none border-bottom">
            <span class="fs-5 fw-semibold">筛选薄片</span>
            <div class="dismiss" id="dismiss">
                <i class="fas fa-arrow-left"></i>
            </div>
        </div>
        <div class="container-fluid px-0" hidden>
            <div class="alert alert-danger d-flex align-items-center p-2" id="alert_div" role="alert"></div>
        </div>
        <form method="post" onsubmit="return submitform()" id="search_form">
            {% csrf_token %}
            <ul class="list-unstyled ps-0">
                <!-- 一级列表（标题）：地区/井号、井深、物镜倍数、正交偏光 -->
                <li class="mb-1">
                    {{ search_form.mines_selected }}
                    <input class="form-check-input ms-0 mt-2 mid-checkbox" type="checkbox" name="is_all_regions"
                        id="region_checkbox">
                    <button type="button" class="btn btn-toggle btn-toggle-1 align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#region_collapse" aria-expanded="true">
                        地区
                    </button>
                    <!-- 地区二级列表：所有地区 -->
                    <div class="collapse show" id="region_collapse">
                        <ul class="btn-toggle-nav list-unstyled pb-1">
                            {% for region in regions_all %}
                            <div class="form-check">
                                <input class="form-check-input ms-0 mt-2 mid-checkbox" type="checkbox"
                                    name="region_with_all_mines" value="{{ region.pk }}">
                                <button type="button"
                                    class="btn btn-toggle btn-toggle-2 align-items-center rounded collapsed"
                                    data-bs-toggle="collapse" data-bs-target="#region_id_{{ region.pk }}"
                                    aria-expanded="true">
                                    {{ region.name }}
                                </button>
                                <!-- 地区三级列表：井号 -->
                                <div class="collapse show" id="region_id_{{ region.pk }}">
                                    <ul class="btn-toggle-nav list-unstyled pb-1">
                                        {% for mine in region.mine_set.all %}
                                        <div class="form-check">
                                            <input class="form-check-input ms-0" type="checkbox" name="mines_checkboxs"
                                                value="{{ mine.pk }}" id="mine_id_{{ mine.pk }}">
                                            <label class="form-check-label ms-2 small" for="mine_id_{{ mine.pk }}">
                                                {{ mine.name }}
                                            </label>
                                        </div>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    <input class="form-check-input ms-0 mt-2 mid-checkbox" type="checkbox" id="depth_checkbox" disabled>
                    <button type="button" class="btn btn-toggle btn-toggle-1 align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#depth_collapse" aria-expanded="true">
                        井深
                    </button>
                    <div class="collapse show" id="depth_collapse">
                        <ul class="btn-toggle-nav list-unstyled pb-1">
                            <div class="row g-3 pt-2">
                                <div class="col-6 ps-4">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch" id="is_all_depth"
                                            name="is_all_depth">
                                        <label class="form-check-label btn-toggle-2" for="is_all_depth">全部井深</label>
                                    </div>
                                </div>
                                <div class="col-6 ps-3">
                                    <div class="form-check form-switch">
                                        <input class="form-check-input" type="checkbox" role="switch"
                                            id="is_range_search" name="is_range_search">
                                        <label class="form-check-label btn-toggle-2" for="is_range_search">范围筛选</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row g-3 pt-2 mb-2">
                                <div class="col-5 ps-3 pe-0">
                                    <div class="input-group input-group-sm">
                                        {{ search_form.depth_low }}
                                        <span class="input-group-text">m</span>
                                    </div>
                                </div>
                                <div class="col-2 text-center px-0" style="font-weight:500; color: grey;">—</div>
                                <div class="col-5 pe-3 ps-0">
                                    <div class="input-group input-group-sm">
                                        {{ search_form.depth_high }}
                                        <span class="input-group-text">m</span>
                                    </div>
                                </div>
                            </div>
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    {{ search_form.lens_selected }}
                    <input class="form-check-input ms-0 mt-2 mid-checkbox" type="checkbox" name="is_all_lens"
                        id="is_all_lens">
                    <button type="button" class="btn btn-toggle btn-toggle-1 align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#lens_collapse" aria-expanded="true">
                        物镜倍数
                    </button>
                    <div class="collapse show" id="lens_collapse">
                        <ul class="btn-toggle-nav list-unstyled pb-1 ps-4">
                            {% for len in lens_all %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="len_id_{{ len }}"
                                    name="lens_checkboxs" value="{{ len }}">
                                <label class="form-check-label" for="len_id_{{ len }}">{{ len }}X</label>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
                <li class="mb-1">
                    {{ search_form.orths_selected }}
                    <input class="form-check-input ms-0 mt-2 mid-checkbox" type="checkbox" name="is_all_orths"
                        id="is_all_orths">
                    <button type="button" class="btn btn-toggle btn-toggle-1 align-items-center rounded collapsed"
                        data-bs-toggle="collapse" data-bs-target="#orth_collapse" aria-expanded="true">
                        正交偏光
                    </button>
                    <div class="collapse show" id="orth_collapse">
                        <ul class="btn-toggle-nav list-unstyled pb-1 ps-4">
                            {% for orth in orth_all %}
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="checkbox" id="len_id_{{ orth.0 }}"
                                    name="orths_checkboxs" value="{{ orth.0 }}">
                                <label class="form-check-label" for="len_id_{{ orth.0 }}">{{ orth.1 }}</label>
                            </div>
                            {% endfor %}
                        </ul>
                    </div>
                </li>
            </ul>
            <button type="button" onclick="submitform()" class="btn btn-primary filter-button">筛选</button>
            <button type="submit" hidden id="search_form_submit_button"></button>
        </form>
    </div>
    <!-- End sidebar -->

    <!-- Dark overlay -->
    <div class="" id="overlay"></div>

    <!-- Content -->
    <div class="content">

        <!-- open sidebar menu -->
        <a class="btn btn-primary open-menu" href="#" role="button" id="open-menu">
            <i class="fas fa-align-left">
            </i> <span>Menu</span>
        </a>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
        </ul>
        {% endif %}
        <!-- <div style="height: 10000px;"></div> -->

        <!-- ... -->

        <!-- here is the page's content (not shown here) -->

        <!-- ... -->

    </div>
    <!-- End content -->

</div>
<!-- End wrapper -->
{% endblock %}

{% block script %}
<script src="{% static 'js/all_photos.js' %}"></script>
<!-- <script>
    function submitform() {
        mine_selected = document.getElementsByName('is_all_regions')[0];
        if (mine_selected.checked) {

        } else {
            mines_selected = mine_selected.querySelectorAll('[name="mines_selected"]');
            // alert(len(mines_selected));
        }
        alert('fesfes');
    }
</script> -->
{% endblock%}