{% extends "base_generic.html" %}

{% block content %}
<main class="bg-light">

    <section class="py-5 text-center container-fluid bg-image">
        <div class="row py-lg-5 px-lg-5">
            <div class="col-lg-8 col-md-10 mx-auto">
                <h3 class="fw-light text-white"><strong>搜索岩石薄片</strong></h1>

                    {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                        <li{% if message.tags %} class="{{ message.tags }} text-white" {% endif %}>{{ message }}</li>
                            {% endfor %}
                    </ul>
                    {% endif %}

                    <form style="display: none;" id="normal_form">
                        <div class="row mt-5 align-items-center justify-content-center">
                            <div class="col-10">
                                {{ normal_form }}
                                <div class="form-text text-light">
                                    岩石薄片地区、井号、井深、物镜倍数、正交偏光等信息
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="form_type" value="normal_form">
                        <div class="row my-2 align-items-center justify-content-center">
                            <button type="submit" class="col-3 btn btn-primary btn-sm mt-4">搜索</button>
                        </div>
                    </form>
                    <form style="display: none;" id="detailed_form">
                        <div class="row mt-4 align-items-center">
                            <div class="col-3 col-md-4 d-flex justify-content-end text-white">
                                <label for="{{ detailed_form.region_field.id_for_label }}" class="form-label">
                                    {{ detailed_form.region_field.label }}
                                </label>
                            </div>
                            <div class="col-lg-5 col-md-4 col-auto">
                                {{ detailed_form.region_field }}
                            </div>
                        </div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-3 col-md-4 d-flex justify-content-end text-white">
                                <label for="{{ detailed_form.mine_field.id_for_label }}" class="form-label">
                                    {{ detailed_form.mine_field.label }}
                                </label>
                            </div>
                            <div class="col-lg-6 col-sm-5 col-auto">
                                {{ detailed_form.mine_field }}
                            </div>
                        </div>
                        <div class="row mt-3 align-items-center">
                            <div class="col-md-4 col-3 d-flex justify-content-end text-white">
                                <label for="{{ detailed_form.depth_field.id_for_label }}" class="form-label">
                                    {{ detailed_form.depth_field.label }}
                                </label>
                            </div>
                            <div class="col-lg-4 col-sm-3 col-auto">
                                {{ detailed_form.depth_field }}
                            </div>
                            <!-- <div class="col-auto">
                                <span class="form-text text-white">
                                    可输入范围，例如"500.0-550.0"
                                </span>
                            </div> -->
                        </div>
                        <div class="row mt-sm-3">
                            <div class="col-sm-6">
                                <div class="row mt-sm-0 mt-3 align-items-center">
                                    <div class="col-md-8 col-sm-6 col-3 d-flex justify-content-end text-white">
                                        <label for="{{ detailed_form.lens_field.id_for_label }}" class="form-label">
                                            {{ detailed_form.lens_field.label }}
                                        </label>
                                    </div>
                                    <div class="col-md-4 col-sm-6 col-3">
                                        {{ detailed_form.lens_field }}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row mt-sm-0 mt-3 align-items-center">
                                    <div class="col-md-4 col-sm-4 col-3 d-flex justify-content-end text-white">
                                        <label for="{{ detailed_form.orth_field.id_for_label }}" class="form-label">
                                            {{ detailed_form.orth_field.label }}
                                        </label>
                                    </div>
                                    <div class="col-sm-4 col-3">
                                        {{ detailed_form.orth_field }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <input type="hidden" name="form_type" value="detailed_form">
                        <div class="row my-2 align-items-center justify-content-center">
                            <button type="submit" class="col-3 btn btn-primary btn-sm mt-4">搜索</button>
                        </div>
                    </form>
                    <a class="text-white" id="form_toggler">进一步搜索</a>
            </div>
        </div>
    </section>
    <div class="row b-divider align-items-center text-center">
        {% if query_url_preffix %}
        <div class="h5">共搜索到{{ pics.paginator.count }}个结果</div>
        {% endif %}
    </div>

    <div class="album py-4">
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                {% for pic in pics %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ pic.image.url }}">
                        <div class="card-body">
                            <p class="card-text text_center">{{ pic }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                    <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                </div>
                                <!-- <small class="text-muted">9 mins</small> -->
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
                <!-- <div class="col">
                        <div class="card shadow-sm">
                            <svg class="bd-placeholder-img card-img-top" width="100%" height="225"
                                xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail"
                                preserveAspectRatio="xMidYMid slice" focusable="false">
                                <title>Placeholder</title>
                                <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                    dy=".3em">Thumbnail</text>
                            </svg>

                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural
                                    lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                    </div>
                                    <small class="text-muted">9 mins</small>
                                </div>
                            </div>
                        </div>
                    </div> -->
            </div>
        </div>
        {% if pics.has_other_pages %}
        <nav class="mt-4">
            <ul class="pagination justify-content-center">
                {% if not pics.has_previous %}
                <li class="page-item disabled">
                    <a class="page-link">&laquo</a>
                </li>
                {% else %}
                <li><a class="page-link" href="?{{ query_url_preffix }}&page={{ pics.previous_page_number }}">
                        &laquo
                    </a></li>
                {% endif %}
                <li class="page-item"><a class="page-link">{{ pics.number }} of {{ pics.paginator.num_pages }}</a></li>
                {% if not pics.has_next %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo</a>
                </li>
                {% else %}
                <li><a class="page-link" href="?{{ query_url_preffix }}&page={{ pics.next_page_number }}">
                        &raquo
                    </a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

</main>

<footer class="text-muted py-5">
    <div class="container">
        <p class="float-end mb-1">
            <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a
                href="../getting-started/introduction/">getting started guide</a>.</p>
    </div>
</footer>

<script>
    var toggleButton = document.getElementById("form_toggler")
    var normal_form = document.getElementById('normal_form')
    var detailed_form = document.getElementById('detailed_form')
    var init_form = "{{ form_type }}"
    // alert('form type:' + init_form)
    if (init_form == "detailed_form") {
        detailed_form.style.removeProperty("display")
        toggleButton.textContent = "返回"
    } else {
        normal_form.style.removeProperty("display")
        toggleButton.textContent = "进一步搜索"
    }

    // window.onload = function () {
    //     var init_form = "{{ form_type }}"
    //     // alert('form type:' + init_form)
    //     if (init_form == "detailed_form") {
    //         normal_form.style.display = "none"
    //         toggleButton.textContent = "返回"
    //     } else {
    //         detailed_form.style.display = "none"
    //         toggleButton.textContent = "进一步搜索"
    //     }
    // }

    toggleButton.addEventListener("click", function () {
        if (detailed_form.style.display == "none") {
            normal_form.style.display = "none"
            detailed_form.style.removeProperty("display")
            toggleButton.textContent = "返回"
        } else if (normal_form.style.display == "none") {
            detailed_form.style.display = "none"
            normal_form.style.removeProperty("display")
            toggleButton.textContent = "进一步搜索"
        }
    });

</script>

{% endblock %}